name: Linting
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1.0.0
    - uses: docker://github/super-linter:v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
